.tabs .tab a:focus, .tabs .tab a:focus.active{
    background-color: rgba(198,40,40, .3);
}
.tab a.active{
    background-color:#c62828 !important;
    color:#ffffff !important;
}
.tabs .indicator{
    background-color:#901919;
}
[type="checkbox"]:checked+span:not(.lever):before{
    border-right:2px solid #424242;
    border-bottom:2px solid #424242;
}
.product-search-bar{
    height:54px !important; 
    line-height: 54px !important;
}
nav.product-search-bar, nav.product-search-bar .nav-wrapper i, nav.product-search-bar a.sidenav-trigger, nav.product-search-bar a.sidenav-trigger i{
    height:54px !important;
    line-height: 54px !important;
} 
[type="checkbox"]+span:not(.lever):before, [type="checkbox"]:not(.filled-in)+span:not(.lever):after{
    border:2px solid #424242;
}
.bold{
    font-weight:800;
}
.card .card-title{
    font-weight:600
}
.card{
    border-radius:20px;
}
.brand-logo{
    padding-left:20px !important;
    padding-right:20px !important;
}
[type="radio"]:not(:checked)+span:before, [type="radio"]:not(:checked)+span:after{
    border:2px solid #424242;
}
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after{
    background-color:#424242;
}
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after{
    border:2px solid #424242;
}
.card.red{
    background:#ef5350 !important;
    border-radius:0px !important;
}
.radius{
    border-radius:0px 0px 20px 20px !important;
}
.padtop{
    padding-top:15px !important;
}
input[type=range]::-webkit-slider-thumb {
    background-color: #c62828;
  }
  input[type=range]::-moz-range-thumb {
    background-color: #c62828;
  }
  input[type=range]::-ms-thumb {
    background-color: #c62828;
  }

  /***** These are to edit the thumb and the text inside the thumb *****/
  input[type=range] + .thumb {
    background-color: #dedede;
  }
  input[type=range] + .thumb.active .value {
    color: #c62828;
  }
  .collection{
      margin:.5rem 0 0 0 !important;
  }